#page-home{
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw bottom;
}

#page-home .content{
    height: 100%;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#page-home .content header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

#page-home .content header a{
    display: flex;

    color: var(--title-color);
    font-weight: 700;
}

#page-home .content header a span{
    background-image: url('../assets/log-in.svg');
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

#page-home .content main{
    max-width: 560px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home .content main h1{
    font-size: 54px;
}

#page-home .content main p{
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home .content main a{
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background-color: var(--primary-color);
}

#page-home .content main a:hover{
    background-color: #2fb86e;
}

#page-home .content main a span{
    width: 72px;
    height: 72px;
    background-color: rgba(0, 0, 0, 0.08);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home .content main a span::after{
    content: "";
    background-image: url('../assets/search.svg');
    width: 20px;
    height: 20px;
}

#page-home .content main a strong{
    color: white;
    flex: 1;
    text-align: center;
}