#page-create-point{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

header a{
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

header a span{
    margin-right: 16px;
    background-image: url(../assets/arrow-left.svg);
    display: flex;
    width: 20px;
    height: 24px;
}

form{
    background-color: white;
    padding: 64px;
    border-radius: 8px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
}

form h1{
    font-size: 36px;
}

form fieldset{
    margin-top: 64px;
    border: 0;
}

form fieldset legend{
    margin-bottom: 40px;
}

form fieldset legend h2{
    font-size: 24px;
}

form fieldset .field{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 24px;
}

form fieldset .field-group{
    display: flex;
}

form fieldset .field input, select{
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
}

form fieldset .field select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form fieldset .field label{
    font-size: 14px;
    margin-bottom: 8px;
}

form button{
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;
}

form button:hover{
    background-color: #2fb86e;
}